<!DOCTYPE html>
<!--
    Define a diretiva ng-app no escopo do documento html. Pode ser em qualquer nivel, porem fica limitado ao escopo.
    Definindo no <html>, o modulo estará disponivel em todo o escopo do documento.
-->
<html ng-app="listaTelefonica">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


    <title>Lançamento de Atividades</title>

    <!-- CDN Boostrapt e Angular JS
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    -- Select2
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    JQuery
    <script  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="  crossorigin="anonymous"></script>
    -->
    <!-- Plugins Locais : Angular, Boostrap, Select2, Jquery -->
    <script src="lib/jquery/jquery-3.3.1.slim.min.js"></script>

    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="lib/angular/angular.min.js"></script>

    <link href="lib/select2/select2.min.css" rel="stylesheet" />
    <script src="lib/select2/select2.min.js"></script>


    <!--Instalação do Angular. Essa declaração deve ser a primeira.-->
    <script src="lib/date-pt-BR.js"></script>
    <script src="js/util.js"></script>
    <!--Inicialização do modulo da aplicação. Declarada pela diretiva ng-app-->
    <script src="js/controllers/contatoModulo.js"></script>
    <script src="js/app.js"></script>

    <script src="js/controllers/contatoController.js"></script>
    <script src="js/data/db.js"></script>
    <link href="css/style.css" rel="stylesheet" />
</head>

<body ng-controller="listaTelefonicaController">

    <div class="login-panel panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <img class="pull-left" src="img/logo.png" style="height: 27px">
                </div>
                <div class="col-xs-9">
                    <p class="titulo">{{app}}</p>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="container-fluid">
                <form class="form-horizontal" action="">
                    <fieldset>
                        <!-- Area do Cadastro -->
                        <div class="container-fluid">
                            <div class="row borda">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label for="hr_inicio">Data : </label>
                                        <input name="dt_Data" type="text" ng-model="tarefa.data" placeholder="dd/MM/yyyy"
                                            class="texto_input" />
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label for="hr_inicio">Inicio : </label>
                                        <input name="hr_inicio" type="text" ng-model="tarefa.inicio" placeholder="HH:MM"
                                            class="texto_input" />
                                    </div>
                                </div>

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label for="hr_fim">Fim : </label>
                                        <input name="hr_fim" type="text" ng-model="tarefa.fim" placeholder="HH:MM"
                                            class="texto_input" />
                                    </div>
                                </div>

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label for="hr_total">Total : </label>
                                        <input name="hr_total" type="text" placeholder="HH:MM" disabled class="disabled texto_input"
                                            value="{{tarefa.fim - tarefa.inicio}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="cboProjeto">Projeto : </label>
                                        <select style="width: 95%" name="cboProjeto" class="Combo" ng-model="tarefa.projeto" ng-options="projeto.nome group by projeto.tipo for projeto in projetos">
                                            <option value="">Selecionar um Tipo de Atividade</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="cboAtividade">Tipo de Atividade : </label>
                                            <select name="cboAtividade" class="Combo" ng-model="tarefa.projeto" ng-options="projeto.nome group by projeto.tipo for projeto in projetos">
                                                <option value="">Selecionar um Tipo de Atividade</option>
                                            </select>
                                        </div>
                                    </div>

                            </div>
                       
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="txt_descricao">Total : </label>
                                        <textarea class="form-control" name="txt_descricao" rows="2" cols="30"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <button class="btn btn-primary btn-block" ng-click="adicionarTarefa(tarefa)"
                    ng-disabled="!tarefa.data || !tarefa.inicio || !tarefa.fim">
                    Salvar Tarefa
                </button>
                </form>
                <!-- Area da Tabela -->
                <div class="alert alert-success" ng-show="tarefaInserido == 1">{{mensagem}}</div>
                <br />
                <p>Relação das Atividades Cadastrados</p>
                <table style="width: 100%" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Inicio</th>
                            <th>Fim</th>
                            <th>Total</th>
                            <th>Projeto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tarefa in tarefas">
                            <td>{{tarefa.data}}</td>
                            <td>{{tarefa.inicio}}</td>
                            <td>{{tarefa.fim}}</td>
                            <td>{{tarefa.total}}</td>
                            <td>{{tarefa.projeto.nome}}</td>

                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3" style="text-align: left">Total de tarefas : {{tarefas.length}}</td>
                        </tr>
                    </tfoot>
                </table>
                <button class="btn btn-danger btn-block" ng-click="excluirtarefa(tarefa)" ng-disabled="!tarefa.nome || !tarefa.telefone">
                    Excluir
                </button>
            </div>
            <div class="panel-footer">
                <p>Todos os direitos reservados</p>
            </div>
        </div>
    </div>
    <script>

        $(document).ready(function () {
            var options = {
                selectOnClose: true,
                templateResult: formatState
            };

            $('select').select2(options);
            configurarInputs();
        });

        function configurarInputs() {
            $('input').addClass('form-control');
            $('select').addClass('Combo');

        }

        function formatState(state) {
            if (!state.id) {
                return state.text;
            }
            var baseUrl = "/img";
            var $state = $(
                '<span><img src="' + baseUrl + '/' + state.element.value.toLowerCase() + '.png" class="img-flag" /> ' + state.text + '</span>'
            );
            return $state;
        };

    </script>
</body>

</html>